/*recipe.html*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.recipe {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe .ingredients ul li.no-bullet {
  list-style-type: none;
}


.recipe .ingredients ul {
  margin-left: 10px; /* Center the unordered list */
  padding-left: 0;
  text-align: left; /* Align the list items to the left */
}

.recipe .steps ol {
  margin-left: 10px; /* Center the ordered list */
  padding-left: 0;
  max-width: 400px; /* Limit the width of the steps list */
  text-align: left; /* Align the list items to the left */
}





